<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:replace="~{ board/nav.html::navbar }"></div>

    <div th:each="i : ${posts}">
        <h4 th:text="${i.title}"></h4>
        <a th:href="@{ '/detail/' + ${i.id} }">자세히 보기</a>
        <a th:href="@{ '/edit/' + ${i.id} }">✏️</a>

        <span th:onclick="fetch('/delete?id=[[${i.id}]]', {method : 'DELETE'})
            .then(r => r.text())
            .then(() => {
            location.reload();
                console.log(text);  // 콘솔에 출력
            })
        ">🗑️</span>
    </div>
</body>
</html>