<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:replace="~{ board/nav.html::navbar }"></div>

    <h4>회원가입 페이지</h4>
<form action="/addUsers" method="POST">
    <input name="username" placeholder="아이디">
    <input name="password" placeholder="password">
    <input name="email" placeholder="email">
    <input type="radio" name="role" value="ADMIN"> 관리자
    <input type="radio" name="role" value="USER" checked> 일반회원
    <button type="submit">입력</button>
</form>
</body>
</html>